@import "@/assets/scss/colors";
@import "@/assets/scss/numbers";


.block {
  width: 100%;
  height: max-content;
  padding: 20px;
  background-color: $color-block-background;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: border-box;

  .block-title {
    font-weight: 700;
    line-height: 1.1;
    color: #cbcbe2;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .block {
    padding: 10px;

    .block-title {
      font-size: .9rem;
      margin-top: 0;
    }
  }
}