<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Varus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}" />
    <script src="{{ url_for('static', filename='js/lib/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/playerjs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-3.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/room.js') }}"></script>
</head>
<body class="room-page">
    <div class="wrapper">
        <div class="player-chat">
            <div class="player block">
                <div class="player-frame">
                    <div class="video" id="player" data-links="{{ links }}"></div>
                </div>
                <div class="info">
                    <h2 class="block-title">{{ _('Room code:') }} <span class="block-code">{{ code }}</span></h2>
                </div>
            </div>
            <div class="chat block">
                <div class="top">
                    <h2 class="block-title">{{ _('Room chat') }}</h2>
                    <button class="btn btn-primary chat-clear"><img class="icon" src="../../static/img/svg/trash.svg"></button>
                </div>
                <div class="chat-box">
                    <div class="messages"></div>
                    <div class="actions">
                        <div class="actions-wrapper">
                            <span>{{ _('Reply') }}</span>
                        </div>
                    </div>
                </div>
                <div class="chat-inputs">
                    <input type="text" class="form-control message-input"  placeholder="{{ _('Message') }}" name="message" autocomplete="off"/>
                    <button type="button" class="btn btn-primary message-send" name="send"><img class="icon" src="../../static/img/svg/send.svg"></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>