@import "colors";
@import "numbers";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");


html, body, .wrapper {
  height: 100%;
}

body {
  margin: 0;
  background-color: $color-body-background;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px !important;
  }
}